:root {
  color-scheme: light dark;

  --light-bg: #fffcf7;
  --light-subtitle: rgb(56, 56, 56);
  --light-border: rgb(27, 27, 27);
  --light-text: black;
  --light-background: #ffffff;
  --light-recipe-background: #ffecdc;

  /* --dark-bg: rgb(27, 27, 27); */
  --dark-bg: rgb(14 14 14);
  --dark-subtitle: rgb(210, 210, 210);
  --dark-border: rgb(41 41 41);
  --dark-text: rgb(241 241 241);
  /* --dark-background: #221b3a; */
  --dark-background: #2d101f;
  /* --dark-recipe-background: #522452; */
  --dark-recipe-background: #1b1b1b;
}

body {
    color: light-dark(var(--light-text), var(--dark-text));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

body, input {
    font-family: "Ubuntu", serif;
    font-weight: 700;
}

#head {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
    margin-left: 0.8rem;
}

#foot {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

/* -------------- */
/* Recipe Tile */
/* -------------- */

.recipeTile {
    max-width: 30rem; 
    min-width: 15rem; 
    flex: 1 0;
    margin: 1rem 1rem 1rem 1rem;
    background-color: light-dark(var(--light-background), var(--dark-background));
    /* background-color: burlywood; */
    /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2); */
}

.recipeTile img {
    max-width: 100%;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    border-style: hidden;
}

.recipeTile p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipeTile a {
    color: light-dark(var(--light-text), var(--dark-text));
    text-decoration: none;
}

.recipeTile .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.recipeTile .subtitle {
    color: light-dark(var(--light-subtitle), var(--dark-subtitle));
    margin-top: 2px;
    margin-bottom: 2px;
}

.innerTile {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

/* Keyword tiles */

.keywordContainer {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
}

.keywordSection h1 {
    margin-top: 0rem;
}

.keywords {
    max-width: fit-content;
    flex: 0 0 auto;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2); */
}

.keywords p {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0;
}

.keywords a {
    color: light-dark(var(--light-text), var(--dark-text));
    text-decoration: none;
}

.keywordBlock {
    min-width: 13rem;
    margin: 1rem;
    padding: 1rem;
    flex: 1 0;
    background-color: light-dark(var(--light-background), var(--dark-background));
    /* background-color: antiquewhite; */
}

.keywordSection {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
}

.keywordContainer h3 {
    margin-bottom: 0px;
    margin-top: 0.7rem;
}

.border {
    border-radius: 1rem 1rem 1rem 1rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: light-dark(var(--light-border), var(--dark-border));
    outline-width: 0.3rem;
    outline-style: solid;
    outline-offset: -0.3rem;
    outline-color: light-dark(var(--light-border), var(--dark-border));
}

.offset {
    margin-left: 1rem;
    margin-right: 1rem;
}

.removeOffsetHeight {
    margin-bottom: 0rem;
}

.removeOffsetTop {
    margin-top: 0rem;
}

.offsetHeight {
    margin-bottom: 1rem;
}

.offsetTop {
    margin-top: 1rem;
}

.offsetBottom {
    margin-bottom: 1rem;
}

.offsetLeftEight {
    margin-left: 0.8rem;
}

.padding {
    padding: 1rem;
}

.lightBackground{
    background-color: light-dark(var(--light-background), var(--dark-background));
}

#recipePage {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
}

#recipe {
    /* max-width: 50rem; */
    flex: 1 0;
    max-width: 1500px;
}

#recipeImg {
    margin: 1rem;
}

#recipe img {
    max-width: 100%;
    border-radius: 0.9rem;
    border-style: none;
    display: block;
}

#recipeSidecar {
    flex: 1 0;
    max-width: 800px;
}

.recipeContainer {
    align-content: flex-start; 
    display: flex; 
    flex-flow: row wrap;
}

.recipeContainer img {
    max-width: 100%;
}

.recipeComponent {
    flex: 1 0;
    margin: 1rem;
    min-width: 12rem;
    padding: 1rem;
    background-color: light-dark(var(--light-recipe-background), var(--dark-recipe-background));
    /* background-color: antiquewhite; */
}

/* Search */
#searchHead {
    padding: 1rem;
    margin-top: 1rem;
    background-color: light-dark(var(--light-background), var(--dark-background));
    /* background-color: antiquewhite; */
}

#searchInput {
    padding: 1rem;
}

#searchBase {
    padding: 1rem;
    background-color: light-dark(var(--light-background), var(--dark-background));
    /* background-color: antiquewhite; */
}
#searchBase h3, #searchHead h3 {
    margin-bottom: 0rem;
}

#searchBase h1, #searchHead h1 {
    margin-top: 0rem;
}

.noBG {
    background-color: rgba(255, 255, 255, 0);
}

.noBG > .keywords{
    float: left;
    margin: 0rem;
}
/* 
.keywordSidecar, .random {
    cursor: pointer;
} */

.noBG > .keywords.keywordSidecar {
    margin-left: -0.6rem;
}